<div class="delete">
	<% if @kaizen %>
		<p>
			Are you sure you want to delete the following kaizen: <br />
			<em>"<%= @kaizen.content %>"</em>?
		</p>
		<form action="/<%= @kaizen.id %>" method="post">
			<input type="hidden" name="_method" value="delete">
			<input type="submit" value="Yes!">
		</form>
	<% else %>
		<p>Kaizen not found.</p>
	<% end %>
</div>	