<% if @kaizen %>
	<form action="/<%= @kaizen.id %>" method="post" id="edit">
		<input type="hidden" name="_method" value="put">
		<input type="text" name="content" value="<%= @kaizen.content %>">
		<input type="submit" value="OK">
	</form>
	<p><a href="/<%= @kaizen.id %>/delete" class="negative">Delete</a></p>
<% else %>
	<p>Kaizen not found</p>
<% end %>