<!doctype html>
<html lang="en">
<head>
	<meta charset="utf8">
	<title><%= @title + ' | kaizenjammer' %></title>
	<link href="/reset.css" rel="stylesheet">
	<link href="/style.css" rel="stylesheet">
</head>
<body>
	<header>
		<h1><a href="/">kaizenjammer</a></h1>
	</header>

	<div id="main">
		<%= yield %>
	</div>

	<footer>
		<p><small>Vote or die</small></p>
	</footer>
</body>
</html>